
# Repo files
state/
.sops.yaml

# This file specifies intentionally untracked files that Git should ignore.
# See: https://git-scm.com/docs/gitignore

# --- Terraform ---
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
crash.log
crash.*.log
# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# --- Packer ---
packer_cache/
output-*/
crash.log
*.pkrvars.hcl
*.box

# --- Ansible ---
.ansible-lint
# If using local roles/collections
/roles/
/collections/
# If using specific inventory files
inventory.ini
*.retry

# --- Taskfile ---
.task/
task-output.log

# --- General & Secrets ---
.env
.DS_Store
*.log
.idea/
.vscode/

